.lections {
  display: flex;
  justify-content: space-between;

  gap: 4px;

  & > div:nth-child(1) {
    width: 100%;
  }
}

.sortBtn {
  min-width: 38px;

  padding: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 4px;

  background-color: #303a65;

  cursor: pointer;

  & > svg {
    width: 16px;
    height: 16px;

    fill: white;
  }
}
