.tableContainer {
  margin-top: 10px;

  width: 100%;

  overflow-x: auto;
}

.table {
  width: 100%;

  border: 1px solid black;
  border-collapse: collapse;
}

.headRow th {
  padding: 8px;

  border: 1px solid black;
}

.column {
  display: flex;
  justify-content: center;

  gap: 6px;

  & > svg {
    width: 16px;
    height: 16px;

    margin-top: 1px;
  }

  cursor: pointer;
}

.row td {
  padding: 8px;

  border: 1px solid black;

  text-align: center;

  &:nth-child(1) {
    width: 250px;
  }

  &:nth-child(2) {
    width: 80px;
  }

  & textarea {
    width: 100%;

    resize: vertical;

    padding: 8px;
  }
}
